{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Password Change{% endblock title %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Password Change</h1>
    <p>Please enter your old and New password</p>
    <form action="" method="post">
      {% csrf_token %} {% load crispy_forms_tags %}
      <!-- {{ form.as_p }} replaced by crispy -->
      {{ form|crispy }}
      <input type="submit" class="btn btn-success" value="Change my password" />
    </form>
    {% endblock content %}
  </body>
</html>
