{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Password Reset{% endblock title %}</title>
  </head>
  <body>
    {% block content %}
    <style>
      body .cont {
        margin: 50px 100px;
      }
    </style>
    <div class="cont">
      <h2>Password reset complete</h2>
      <p>
        Your new password has been set
        <br />
        you can now log in now on the <a href="{% url 'login' %}">Login page</a>
      </p>
    </div>
    {% endblock content %}
  </body>
</html>
