{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Password Reset{% endblock title %}</title>
  </head>
  <body>
    {% block content %}
    <style>
      body .cont {
        margin: 50px 100px;
      }
    </style>
    <div class="cont">
      <h2>Forgot Password</h2>
      <p>
        Email your email address below, and we will email instructions for
        setting a new one
      </p>
      <form action="" method="post">
        {% csrf_token %} {% load crispy_forms_tags %}
        <!-- {{ form.as_p }} replaced by crispy -->
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Submit" />
      </form>
    </div>
    {% endblock content %}
  </body>
</html>
