{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Delete Article{% endblock title %}</title>
  </head>
  <body>
    <h1>Delete confirmation</h1>
    <form action="" method="post">
      {% csrf_token %}
      <p>
        Are you sure you want to delete <br />
        "{{ article.title }}"?
      </p>
      <button class="btn btn-danger ml-2" type="submit">Confirm</button>
      <a
        class="btn btn-secondary ml-2"
        href="{% url 'cancel_delete' article.pk %}"
        >Cancel</a
      >
    </form>
    {% endblock content %}
  </body>
</html>
